body{
    background-color: rgb(30,30,30);
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}
*{
    font-weight: 200;
    color: white;
    margin: 0;
    padding: 0;
    transition: top 1.5s ease-in-out,
    transform 0.5s ease !important;
}
#text1{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    font-size: 25px;
}
#text1:hover{
    transform: translate(-50%,-50%) scale(0.95);
}
#text1:active{
    transform: translate(-50%,-50%) scale(0.85);
}
#text2{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    white-space: nowrap;
}
#text2:hover{
    transform: translate(-50%,-50%) scale(0.95);
}
#text2:active{
    transform: translate(-50%,-50%) scale(0.85);
}
#btn1{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 170px;
    height: 45px;
    background-color: rgb(80,80,80);
    border-radius: 15px;
    border: none;
}
#btn1:hover{
    transform: translate(-50%,-50%) scale(0.95);
}
#btn1:active{
    transform: translate(-50%,-50%) scale(0.85);
}